@import 'includes/variables';

.panel {
	width:900px;
	min-height:800px;
	border-radius:2px;
	background-color:#FFF;
	margin:48px auto;
	padding:18px;
	box-shadow:$panelShadow;
}

.panel h2 {
	padding:4px 0 8px 0;	
	border-bottom:1px solid $gray;
	font-size:1.3em;
	margin-bottom:24px;
	-webkit-font-smoothing:antialiased;
	display:flex;
	align-items:center;
}

.panel h2 > i,
.panel h2 > div {
	margin-left:auto;
	position:relative;
	top:4px;
	cursor:pointer;

	&[disabled] {
		opacity:0.4;
		cursor:default;
	}
}

.panel h2 i {
	color:$blue;
}

.panel h2 > div {
	display:flex;
	align-items:center;
	margin-left:auto;
	position:relative;
	top:4px;
	cursor:pointer;
	font-size:0.7rem;

	span {
		margin-right:6px;
	}

	& + div {
		margin-left:12px;
	}
}

.panel-content {
	position:relative;

	& > div {
		width:100%;
	}
}

.panel.with-items {
	background-color:transparent;
	box-shadow:none;
}

.panel-item {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	position:relative;

	background-color:#FFF;
	box-shadow:$panelShadow;
	padding:18px;
	box-sizing:border-box;

	& + & {
		margin-top:24px;
	}
}

.panel-item h4 {
	font-size:1.2em;
	font-weight:600;
	-webkit-font-smoothing:antialiased;
	border-bottom:1px solid $gray;
	flex:0 0 auto;
	padding-right:12px;
}

.panel-item > i {
	position:absolute;
	top:8px;
	right:8px;
	color:#CDCDCD;
	cursor:pointer;
	transition:color 0.15s ease-in-out;

	&:hover {
		color:#666;
	}
}


/**
 * Transitions
 */

.panel-item {

	&.fade-enter {
		opacity:0;
	}

	&.fade-enter.fade-enter-active {
		opacity:1;
		transition:opacity 250ms ease-in;
	}

	&.fade-exit {
		opacity:1;
	}

	&.fade-exit.fade-exit-active {
		opacity:0;
		transition:opacity 250ms ease-in;
	}

}


/**
 * Panel header
 */

 .panel header {
 	width:100%;
 	height:46px;
 	display:flex;
 	align-items:center;
 	box-sizing:border-box;
 	padding:0 12px;
 	background-color:#EFEFEF;
 }

 .panel header input[type="text"] {
 	font-size:0.8em;
 	box-sizing:border-box;
 	padding:0 6px;
 	border:1px solid #DEDEDE;
 	border-radius:4px;
 	width:100%;
 	height:32px;
 }