@import 'includes/variables';

.panel {
	width:900px;
	min-height:800px;
	border-radius:2px;
	background-color:#FFF;
	margin:48px auto;
	padding:18px;
	box-shadow:$panelShadow;
}

.panel h2 {
	padding:4px 0 8px 0;	
	border-bottom:1px solid $gray;
	font-size:1.3em;
	margin-bottom:24px;
	-webkit-font-smoothing:antialiased;
	display:flex;
	align-items:center;
}

.panel h2 > i,
.panel h2 > div {
	margin-left:auto;
	position:relative;
	top:4px;
	cursor:pointer;

	&[disabled] {
		opacity:0.4;
		cursor:default;
	}
}

.panel h2 i {
	color:$blue;
}

.panel h2 > div {
	display:flex;
	align-items:center;
	margin-left:auto;
	position:relative;
	top:4px;
	cursor:pointer;
	font-size:0.7rem;

	span {
		margin-right:6px;
	}

	& + div {
		margin-left:12px;
	}
}

.panel-content {
	position:relative;

	& > div {
		width:100%;
	}
}

.panel.with-items {
	background-color:transparent;
	box-shadow:none;
}

.panel-item {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	position:relative;

	background-color:#FFF;
	box-shadow:$panelShadow;
	padding:18px;
	box-sizing:border-box;

	& + & {
		margin-top:24px;
	}
}

.panel-item h4 {
	font-size:1.2em;
	font-weight:600;
	-webkit-font-smoothing:antialiased;
	border-bottom:1px solid $gray;
	flex:0 0 auto;
	padding-right:12px;
}

.panel-item > i {
	position:absolute;
	top:8px;
	right:8px;
	color:#CDCDCD;
	cursor:pointer;
	transition:color 0.15s ease-in-out;

	&:hover {
		color:#666;
	}
}


/**
 * Transitions
 */

.panel-item {

	&.fade-enter {
		opacity:0;
	}

	&.fade-enter.fade-enter-active {
		opacity:1;
		transition:opacity 250ms ease-in;
	}

	&.fade-exit {
		opacity:1;
	}

	&.fade-exit.fade-exit-active {
		opacity:0;
		transition:opacity 250ms ease-in;
	}

}


/**
 * Panel header
 */

 .panel header {
 	width:100%;
 	height:46px;
 	display:flex;
 	align-items:center;
 	box-sizing:border-box;
 	padding:0 12px;
 	background-color:#EFEFEF;
 }

 .panel header input[type="text"] {
 	font-size:0.8em;
 	box-sizing:border-box;
 	padding:0 6px;
 	border:1px solid #DEDEDE;
 	border-radius:4px;
 	width:100%;
 	height:32px;
 }


 /**
  * List Panel Item
  */
 
 .list-panel-item {
	padding:0;
 }

 .list-panel-container {
 	width:100%;
 	display:flex;
 }

 .list-panel-container ul {
 	font-size:0.75em;
 	list-style-type:none;
 	overflow-y:scroll;
 	
 	height:400px;
 	flex:0 0 40%;
 	min-width:40%;
 }

 .list-panel-container li {
 	padding:0 12px;
 	box-sizing:border-box;
 	box-shadow:0 1px 1px rgba(0,0,0,0.1);
 	transition:background-color 0.1s ease-out;
 	cursor:pointer;
 	
 	span {
 		display:block;
 		width:100%;
 		height:40px;
 		line-height:44px;
 		overflow:hidden;
 		text-overflow:ellipsis;
 	}

 	&:hover,
 	&.selected {
 		background-color:#EFEFEF;
 	}
 }

 .list-panel-actions {
 	padding:40px 0 18px 0;
 	box-sizing:border-box;
 	flex:0 0 60%;
 	position:relative;
 }

 .list-panel-actions .selected-user {
 	display:flex;
 	align-items:center;
 	position:absolute;
 	top:0;
 	left:0;
 	width:100%;
 	height:40px;
 	padding:0 12px;
 	box-sizing:border-box;

 	border-bottom:1px solid $gray;
 	font-size:0.8em;
 	color:$blue;
 	font-weight:600;
 	-webkit-font-smoothing:antialiased;

 	i {
 		margin-right:4px;
 	}

 	span {
 		overflow:hidden;
 		text-overflow:ellipsis;
 		height:100%;
 		line-height:40px;
 	}
 }




