@import 'includes/variables';

.panel {
	width:1200px;
	height:800px;
	border-radius:2px;
	background-color:#FFF;
	margin:48px auto;
	padding:18px;
	box-shadow:0 1px 3px rgba(0,0,0,.1), 0 -1px 2px rgba(0,0,0,.02), 0 1px 2px rgba(0,0,0,.1);
}

.panel h2 {
	padding:4px 0 8px 0;	
	border-bottom:1px solid $gray;
	font-size:1.3em;
	margin-bottom:24px;
	-webkit-font-smoothing:antialiased;
}