@import 'includes/variables';

.panel {
	width:1200px;
	min-height:800px;
	border-radius:2px;
	background-color:#FFF;
	margin:48px auto;
	padding:18px;
	box-shadow:$panelShadow;
}

.panel h2 {
	padding:4px 0 8px 0;	
	border-bottom:1px solid $gray;
	font-size:1.3em;
	margin-bottom:24px;
	-webkit-font-smoothing:antialiased;
}