@import 'includes/variables';

header {
	height:68px;
	min-width:1236px;
	background-color:#FFF;
	border-bottom:1px solid $gray;
	position:relative;
	padding-top:10px;
	padding-right:240px;
	box-sizing:border-box;

	font-weight:600;
	-webkit-font-smoothing:antialiased;

	background-image:url('./mssmLogo.png');
	background-repeat:no-repeat;
	background-size:auto 38px;
	background-position:calc(100% - 20px) 20px;

	display:flex;
}

header:before {
	content:'';
	height:10px;
	background-color:$pink;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
}

header h1 {
	display:flex;
	align-items:center;
	height:100%;
	border-right:1px solid $gray;
	padding:10px 20px 8px 20px;
	box-sizing:border-box;
	letter-spacing:1px;
	font-size:1.2em;
	color:#888;
}

header nav {
	display:flex;
	align-items:flex-end;
	padding:0 32px 8px 32px;
	text-transform:uppercase;
	letter-spacing:0.5px;
	font-size:0.8em;
	color:$blue;

	a {
		display:block;
		position:relative;
	}

	a + a {
		margin-left:48px;
	}

	a.active-nav-item:after {
		content:'';
		position:absolute;
		height:2px;
		left:-4px;
		right:-4px;
		bottom:-8px;
		background-color:$blue;
	}
}
