@import '../../../includes/variables';

.table-panel-item.outstanding-evals-table-item {

	header,
	.table-panel-row {

		.student {
			flex:0 0 31%;
			max-width:31%;
		}

		.evaluator {
			flex:0 0 32%;
			max-width:32%;
		}

		.type {
			flex:0 0 25%;
			max-width:25%;
		}

		.date {
			flex:0 0 12%;
			max-width:12%;
			justify-content:center;
		}

	}

	.table-panel-row {
		
		p:only-child {
			height:44px;
			line-height:44px;
			text-align:center;
			flex:0 0 100%;
		}
		
		.delete {
			width:24px;
			height:44px;
			padding:0;
			position:absolute;
			right:-24px;
			justify-content:flex-end;
		}

		.delete i {
			font-size:18px;
			cursor:pointer;
			transition:opacity 0.15s ease-out;
			opacity:0;
		}

		.evaluator i {
			cursor:pointer;
			color:$blue;
			font-size:18px;
			margin-right:4px;
		}

		&:hover .delete i {
			opacity:1;			
		}
	}
}