
.table-panel-item.outstanding-evals-table-item {

	header,
	.table-panel-row {

		.student {
			flex:0 0 31%;
			max-width:31%;
		}

		.evaluator {
			flex:0 0 32%;
			max-width:32%;
		}

		.type {
			flex:0 0 25%;
			max-width:25%;
		}

		.date {
			flex:0 0 12%;
			max-width:12%;
			justify-content:center;
		}
	}

	.table-panel-row {
		
		.delete {
			width:24px;
			height:44px;
			padding:0;
			position:absolute;
			right:-24px;
			justify-content:flex-end;
		}

		.delete i {
			font-size:18px;
			cursor:pointer;
			transition:opacity 0.15s ease-out;
			opacity:0;
		}

		&:hover .delete i {
			opacity:1;			
		}
	}
}