
.completed-evals {

	.panel-item {
		flex-direction:row;
	}

	.panel-item > div {
		display:flex;
		flex:0 0 50%;
		min-height:48px;
	}

	.eval-info-container {
		flex-direction:column;
		justify-content:center;
	}

	.average-score-container {
		justify-content:flex-end;
		align-items:center;
	}

	p {
		font-size:0.8em;
	}

	p + p {
		margin-top:8px;
	}

	p.no-results {
		text-align:center;
	}

	.student-name {
		font-weight:bold;
		-webkit-font-smoothing:antialiased;
		font-size:1rem;
	}

	.counter {
		margin-left:12px;
		width:46px;
		height:46px;
		line-height:46px;
		border-radius:23px;
		font-size:0.85em;
	}
}

.completed-evals > div {
	&.fade-enter {
		opacity:0;
	}

	&.fade-enter.fade-enter-active {
		opacity:1;
		transition:opacity 0.25s ease-out;
	}

	&.fade-exit {
		opacity:1;
	}

	&.fade-exit.fade-exit-active {
		opacity:0;
		transition:opacity 0.25s ease-out;
	}
}