@import '../../../includes/variables';

.table-panel-item.completed-evals-table-item {

	header,
	.table-panel-row {

		.student {
			flex:0 0 27%;
			max-width:27%;
		}

		.evaluator {
			flex:0 0 28%;
			max-width:28%;
		}

		.type {
			flex:0 0 25%;
			max-width:25%;
		}

		.date {
			flex:0 0 12%;
			max-width:12%;
		}

		.score {
			flex:0 0 8%;
			max-width:8%;
		}
	}

	.table-panel-row {

		.score {
			justify-content:center;
		}

		.score .counter {
			font-size:0.75rem;
			width:28px;
			height:28px;
			line-height:28px;
		}
	}
}