@import 'includes/variables';


.file-group {
	flex:0 0 50%;
}

.file-group h3 {
	margin:12px 0;
	font-size:1.1em;
}

.file-group ul {
	font-size:0.85em;
	margin:12px 16px 12px 0;
}

.file-group + .file-group {
	margin-top:32px;
}

.file-group li + li {
	margin-top:6px;
}


.file-group {

	&.fade-enter {
		opacity: 0;
	}

	&.fade-enter.fade-enter-active {
		opacity: 1;
		transition: opacity 200ms ease-in;
	}

	&.fade-exit {
		opacity: 1;
	}

	&.fade-exit.fade-exit-active {
		opacity: 0;
		transition: opacity 200ms ease-in;
	}

}
