@import '../../includes/variables';

.panel.account-panel {
	width:400px;
	min-height:0;
	margin-top:64px;
}

.account-panel .user-email {
	font-size:0.8em;
	margin-bottom:12px;
}

.account-home a {
	color:$blue;
	font-size:0.8em;
	text-decoration:underline;
}

.account-home button {
	margin:24px 0 0 0;
}

form[name="passwordUpdate"] {
	label {
		flex:0 0 35%;
	}

	input {
		flex:1 0 65%;
	}
}