@import '../../includes/variables';

.notifications-container {
	height:36px;
	position:absolute;
	top:68px;
	left:0;
	right:0;
	z-index:2;

	display:flex;
	justify-content:center;

	background-color:$pink;
	box-shadow:$panelShadow;
	font-size:0.75em;


	& > div {
		overflow:hidden;
	}
}

.notifications-container .notification-item {
	display:flex;
	align-items:center;
	justify-content:space-between;

	width:900px;
	height:36px;

	p {
		white-space:nowrap;
		color:#FFF;
	}

	i {
		color:#FFF;
		cursor:pointer;
	}
}

.notifications-container {
	&.container-slide-enter {
		transform:translateY(-100%);
	}

	&.container-slide-enter.container-slide-enter-active {
		transform:translateY(0);
		transition:transform 300ms $standardCurve;
	}

	&.container-slide-exit {
		transform:translateY(0);
	}

	&.container-slide-exit.container-slide-exit-active {
		transform:translateY(-100%);
		transition:transform 300ms $standardCurve;
	}
}

.notifications-container .notification-item {
	&.item-slide-exit {
		transform:translateY(0);		
	}
	
	&.item-slide-exit.item-slide-exit-active {
		transform:translateY(-100%);
		transition:transform 300ms $standardCurve;

		& + .notification-item {
			transform:translateY(-100%);
			transition:transform 300ms $standardCurve;
		}
	}
}