@import '../../../includes/variables';

.evaluations-panel .assigned-evals {
	display:flex;
	flex-wrap:wrap;
	min-height:240px;
}

.evaluations-panel .assigned-evals p:only-child {
	margin:48px auto;
}

.eval-stats-panel-item {

	& > div {
		width:460px;
		display:flex;
		align-items:center;
		justify-content:space-between;

		& + div {
			margin-top:12px;
		}
	}

	span {
		font-size:0.85rem;
	}

	.counter {
		margin:0 24px;
	}

	.counter:last-child {
		margin-right:209px;
	}

	.counter.warning + label,
	.counter.warning + a {
		color:$pink;
	}

	label,
	a,
	a span {
		font-size:0.75rem;
		width:185px;
	}

	a {
		color:$blue;
		text-decoration:underline;
	}
}

.eval-card {
	font-size:0.8em;
	font-weight:bold;
	-webkit-font-smoothing:antialiased;
	text-align:center;

	
	box-shadow:$panelShadow;
	background-color:#FFF;

	flex:0 0 23.5%;
	max-width:23.5%;
	height:240px;
	position:relative;

	box-sizing:border-box;
	padding:12px;

	.student-photo {
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
		background-color:#EEE;

		width:108px;
		height:164px;
		margin:12px auto;
	}
}

.eval-card:nth-of-type(n+5) {
	margin-top:2%;
}

.eval-card + .eval-card:not(:nth-of-type(4n+1)) {
	margin-left:2%;
}

.eval-card {

	&.fade-enter {
		opacity: 0;
	}

	&.fade-enter.fade-enter-active {
		opacity: 1;
		transition: opacity 200ms ease-in;
	}

	&.fade-exit {
		opacity: 1;
	}

	&.fade-exit.fade-exit-active {
		opacity: 0;
		transition: opacity 200ms ease-in;
	}
}

.eval-types-panel-item {
	font-size:0.85rem;
	min-height:145px;

	& > p {
		margin-bottom:18px;
	}

	li + li {
		margin-top:8px;
	}

	li a {
		white-space:nowrap;
	}
}