
@import 'includes/variables';

.panel.news-panel {
	background-color:transparent;
	box-shadow:none;
}

.news-panel-content {
	position:relative;
}

.news-item {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	position:relative;

	background-color:#FFF;
	box-shadow:$panelShadow;
	padding:18px;
	box-sizing:border-box;

	& + & {
		margin-top:24px;
	}
}

.news-item h4 {
	font-size:1.2em;
	font-weight:600;
	-webkit-font-smoothing:antialiased;
	border-bottom:1px solid $gray;
	flex:0 0 auto;
	padding-right:12px;
}

.news-item i {
	position:absolute;
	top:8px;
	right:8px;
	color:#CDCDCD;
	cursor:pointer;
	transition:color 0.15s ease-in-out;

	&:hover {
		color:#666;
	}
}

.news-item .news-item-author {
	font-size:0.65em;
	margin-top:8px;
}

.news-item .news-item-content {
	font-size:0.85em;
	margin-top:12px;
}

/**
 * Transitions
 */

.news-item {

	&.fade-enter {
		opacity:0;
	}

	&.fade-enter.fade-enter-active {
		opacity:1;
		transition:opacity 250ms ease-in;
	}

	&.fade-exit {
		opacity:1;
	}

	&.fade-exit.fade-exit-active {
		opacity:0;
		transition:opacity 250ms ease-in;
	}

}


/**
 * Admin create news
 */

$createNewsHeight:210px;

.news-panel h2 i {
	color:$blue;
	margin-left:auto;
	position:relative;
	top:4px;
	cursor:pointer;
}

.create-news.news-item {
	margin-bottom:24px;
	height:$createNewsHeight;
}

form[name="createNews"] {
	width:100%;

	label {
		flex:0 0 15%;
	}

	input[type="text"],
	textarea {
		flex:0 0 85%;
	}

	textarea {
		height:80px;
		resize:none;
	}

	.input-container.textarea label {
		margin-bottom:auto;
	}

	.button-container {
		width:25%;
		margin-left:auto;
		margin-top:18px;
	}
}

/**
 * Admin create news transition
 */

.create-news.news-item {

	&.toggle-create-enter {
		opacity:0;
	}


	&.toggle-create-enter.toggle-create-enter-active {
		opacity:1;
		transition:opacity 150ms ease-in 350ms;

		& + div {
			transition:transform 350ms $standardCurve;
			transform:translateY($createNewsHeight + 24px);
			position:absolute;
			top:0;
		}
	}

	&.toggle-create-exit {
		opacity:1;
	}

	&.toggle-create-exit.toggle-create-exit-active {
		opacity:0;
		transition:opacity 150ms ease-in;

		& + div {
			transition:transform 350ms $standardCurve 150ms;
			transform:translateY(-1 * ($createNewsHeight + 24px));
		}
	}
}
