
@import 'includes/variables';

.panel.news-panel {
	background-color:transparent;
	box-shadow:none;
}

.news-item {
	display:flex;
	flex-direction:column;
	align-items:flex-start;

	background-color:#FFF;
	box-shadow:$panelShadow;
	padding:18px;

	& + & {
		margin-top:24px;
	}
}

.news-item h4 {
	font-size:1.2em;
	font-weight:600;
	-webkit-font-smoothing:antialiased;
	border-bottom:1px solid $gray;
	flex:0 0 auto;
	padding-right:12px;
}

.news-item .news-item-author {
	font-size:0.65em;
	margin-top:8px;
}

.news-item .news-item-content {
	font-size:0.85em;
	margin-top:12px;
}