
@import 'includes/variables';


.news-item .news-item-author {
	font-size:0.65em;
	margin-top:8px;
}

.news-item .news-item-content {
	font-size:0.85em;
	margin-top:12px;
	width:100%;
}


/**
 * Admin create news
 */

$createNewsHeight:210px;

.create-news.news-item {
	margin-bottom:24px;
	height:$createNewsHeight;
}

form[name="createNews"] {
	width:100%;

	label {
		flex:0 0 15%;
	}

	input[type="text"],
	textarea {
		flex:0 0 85%;
	}

	textarea {
		height:80px;
		resize:none;
	}

	.button-container {
		width:25%;
		margin-left:auto;
		margin-top:18px;
	}
}

/**
 * Admin create news transition
 */

.create-news.news-item {

	&.toggle-create-enter {
		opacity:0;
	}


	&.toggle-create-enter.toggle-create-enter-active {
		opacity:1;
		transition:opacity 150ms ease-in 350ms;

		& + div {
			transition:transform 350ms $standardCurve;
			transform:translateY($createNewsHeight + 24px);
			position:absolute;
			top:0;
		}
	}

	&.toggle-create-exit {
		opacity:1;
	}

	&.toggle-create-exit.toggle-create-exit-active {
		opacity:0;
		transition:opacity 150ms ease-in;

		& + div {
			transition:transform 350ms $standardCurve 150ms;
			transform:translateY(-1 * ($createNewsHeight + 24px));
		}
	}
}
