@import '../../../includes/variables';

form[name="addUsers"] {
	width:100%;
	margin-top:18px;

	label {
		flex:0 0 15%;
	}

	textarea {
		flex:0 0 85%;
		height:64px;
		resize:none;
	}

	p {
		width:85%;
		margin-left:15%;
		font-size:0.75em;
		color:#888;
		margin-bottom:4px;
	}

	.button-container {
		width:14%;
		margin-left:auto;
		margin-top:18px;
	}
}

form[name="resetUserPassword"] {
	width:100%;
	padding:12px;
	box-sizing:border-box;
	border-bottom:1px solid $gray;
	

	label {
		flex:0 0 30%;
	}

	input {
		flex:0 0 70%;
	}

	button {
		margin-top:12px;
		margin-left:auto;
		width:132px;
	}
}

.delete-user {
	padding:12px;

	button {
		background-color:$pink;
		margin-left:auto;
		width:132px;
	}
}