@import '../../../includes/variables';

form[name="reminder"] {
	width:100%;

	.input-container {
		width:100%;
	}

	label {
		flex:0 0 15%;
	}

	input[type="text"],
	textarea {
		flex:0 0 85%;
		max-width:85%;
	}

	textarea {
		height:42px;
		resize:none;
	}

	.quill {
		width:100%;
	}

	.ql-container {
		height:240px;
	}
	
	.button-container {
		width:50%;
		margin-left:auto;
		margin-top:18px;
	}
}