@import '../../../includes/variables';

form[name="addStudents"] {
	width:100%;
	margin-top:18px;

	label {
		flex:0 0 15%;
	}

	textarea {
		flex:0 0 85%;
		height:64px;
		resize:none;
	}

	p {
		font-size:0.75em;
		color:#888;
		margin-bottom:24px;
	}

	.button-container {
		width:14%;
		margin-left:auto;
		margin-top:18px;
	}
}

form[name="uploadPhoto"] {
	width:100%;
	padding:12px 12px 0 12px;
	box-sizing:border-box;	
	margin-top:12px;
	border-top:1px solid $gray;

	.photo-upload-container {
		display:block;
		
		& > div {
			display:flex;
			align-items:center;
			margin-top:18px;
		}
	}

	label,
	input {
		display:block;
	}

	input {
		padding:0;
		margin:0 12px 0 0;
	}

	button {
		margin-left:auto;
	}
}

.list-panel-actions .student-photo {
	width:132px;
	height:200px;
	margin:12px auto;

	background-color:#EEE;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}

form[name="uploadZip"] {
	width:100%;
	margin-top:18px;

	label {
		flex:0 0 24%;
	}	

	input {
		flex:0 0 auto;
	}

	p {
		font-size:0.75em;
		color:#888;
		margin-bottom:24px;
	}

	.button-container {
		width:14%;
		margin-left:auto;
		margin-top:18px;
	}
}