@import 'includes/variables';

body {
	background-color:$offWhite;
	font-family:'Open Sans', sans-serif;
	color:#666;
}

.app-container {
	padding:0 18px;
}

button {
	color:#FFF;
	background-color:$blue;
	height:32px;
	border-radius:2px;
	box-shadow:$panelShadow;
	padding:0 18px;
	box-sizing:border-box;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:0.8rem;
	font-weight:600;
	letter-spacing:0.5px;
	-webkit-font-smoothing:antialiased;
	text-transform:uppercase;
	cursor:pointer;
	border:none;
	outline:none;

	transition: opacity 0.15s ease-out;

	&[disabled] {
		opacity:0.4;
		cursor:default;
	}
}

.button-container {
	display:flex;
	justify-content:space-between;
	margin-top:24px;
	
	& > * {
		flex:0 0 48%;
	}

	button {
		margin-top:0;
	}

	button.cancel {
		background-color:$pink;
	}

	a button {
		width:100%;
	}
}

.input-container {
	display:flex;
	justify-content:space-between;
	align-items:center;

	label {
		font-size:0.8em;
		font-weight:600;
		-webkit-font-smoothing:antialiased;
	}

	input,
	select {
		height:32px;
		padding:0 6px;
	}

	textarea {
		padding:6px;
	}

	input,
	select,
	textarea {
		font-size:0.8em;
		box-sizing:border-box;
		border:1px solid #DEDEDE;
	}

	& + .input-container {
		margin-top:12px;
	}
}