@import 'includes/variables';

body {
	background-color:$offWhite;
	font-family:'Open Sans', sans-serif;
	color:#666;
}

.app-container {
	padding:0 18px;
}

button {
	color:#FFF;
	background-color:$blue;
	height:32px;
	border-radius:2px;
	box-shadow:$panelShadow;
	padding:0 18px;
	box-sizing:border-box;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:0.8rem;
	font-weight:600;
	letter-spacing:0.5px;
	-webkit-font-smoothing:antialiased;
	text-transform:uppercase;
	cursor:pointer;
	border:none;
	outline:none;

	transition: opacity 0.15s ease-out;

	&[disabled] {
		opacity:0.4;
		cursor:default;
	}
}

.button-container {
	display:flex;
	justify-content:space-between;
	margin-top:24px;
	
	& > * {
		flex:0 0;
		flex-basis:48px;
	}

	& > *:only-child {
		flex:0 0;
		flex-basis:100%;
	}

	button {
		margin-top:0;
	}

	button.cancel {
		background-color:$pink;
	}

	a button {
		width:100%;
	}
}

.input-container {
	display:flex;
	justify-content:space-between;
	align-items:center;

	label {
		font-size:0.8em;
		font-weight:600;
		-webkit-font-smoothing:antialiased;
	}

	input,
	select {
		height:32px;
		padding:0 6px;
	}

	input {
		background-color:#FFF;
	}

	input[type="file"] {
		border:none;
		height:auto;
		margin-right:auto;
	}

	select {
		background-color:#F9F9F9;
		border-radius:0;
		-moz-appearance:none;
	}

	textarea {
		padding:6px;
		overflow-x:hidden;
		overflow-y:auto;
	}

	input,
	select,
	textarea {
		font-size:0.8em;
		box-sizing:border-box;
		border:1px solid #DEDEDE;
		border-radius:4px;

		&[disabled] {
			opacity:0.4;
			cursor:default;
		}

		&[readonly] {
			color:#999;
		}
	}

	& + .input-container {
		margin-top:12px;
	}

	&.textarea label,
	&.quill label {
		margin-bottom:auto;
		margin-top:4px;
	}

	.ql-toolbar.ql-snow,
	.ql-container.ql-snow {
		border-color:#DEDEDE;
	}

	.ql-toolbar.ql-snow {
		border-top-left-radius:4px;
		border-top-right-radius:4px;
	}

	.ql-container.ql-snow {
		border-bottom-left-radius:4px;
		border-bottom-right-radius:4px;
	}

	.ql-editor p {
		margin:1em 0;
	}
}

.counter {
	width:32px;
	height:32px;
	line-height:32px;
	border-radius:16px;
	background-color:$blue;
	color:#FFF;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	font-size:0.8rem;
}

.counter.warning {
	background-color:$pink;
}

.calendar-container {
	margin-top:24px;
	padding:18px;
	background-color:#F9F9F9;
	box-shadow:$panelShadow;

	iframe {
		border-with:0;
	}
}